<a href="https://colab.research.google.com/github/GuilhermeFogolin/Estudos-Dados-FECAP/blob/main/Aula02_18_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 02 - 18/08/2025 - Projeto em Ciência de Dados**

In [ ]:
import pandas as pd

df = pd.read_csv("BASE01.CREDITO.csv", sep=";")

print(df)

In [19]:
print(df[["codigoconcessao", "perda", "valorcredito"]]) # Imprimindo três colunas

     codigoconcessao    perda valorcredito
0               7616     0,00      3520,00
1                281   866,80      1046,85
2                282     0,00      4550,00
3               7889  2100,00      2625,00
4                283     0,00      1200,00
..               ...      ...          ...
112             1967     0,00      3599,00
113              344     0,00      4800,00
114              345     0,00      2750,00
115              346     0,00      2105,00
116             1825     0,00      3150,00

[117 rows x 3 columns]

In [20]:
# Alterando tipo de coluna str para float

df['perda'] = df['perda'].str.replace(',', '.')
df['perda'] = df['perda'].astype(float)

df['valorcredito'] = df['valorcredito'].str.replace(',', '.')
df['valorcredito'] = df['valorcredito'].astype(float)

df['idade'] = df['idade'].astype(int)

df['gastoscartao'] = df['gastoscartao'].str.replace(',', '.')
df['gastoscartao'] = df['gastoscartao'].astype(float)

In [21]:
print("Ordenando por perda decrescente")
print(df[["cliente", "perda", "valorcredito"]].sort_values(by = "perda", ascending=False))

Ordenando por perda decrescente
     cliente   perda  valorcredito
29        30  5520.0        6900.0
40        41  4941.0        5490.0
63        64  4160.0        5200.0
71        72  3880.0        4850.0
99       100  3760.0        4700.0
..       ...     ...           ...
112      113     0.0        3599.0
113      114     0.0        4800.0
114      115     0.0        2750.0
115      116     0.0        2105.0
116      117     0.0        3150.0

[117 rows x 3 columns]