<a href="https://colab.research.google.com/github/GuilhermeFogolin/Estudos-Dados-FECAP/blob/main/Aula02_18_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Aula 02 - 18/08/2025 - Projeto em Ciência de Dados**

In [ ]:
import pandas as pd

df = pd.read_csv("BASE01.CREDITO.csv", sep=";")

print(df)

     cliente  codigoconcessao situacaopagamento  tempodeatraso      situacao  \
0          1             7616            Normal              0    Adimplente
1          2              281         Em atraso             95  Inadimplente
2          3              282            Normal              0    Adimplente
3          4             7889         Em atraso            106  Inadimplente
4          5              283            Normal              0    Adimplente
..       ...              ...               ...            ...           ...
112      113             1967            Normal              0    Adimplente
113      114              344            Normal              0    Adimplente
114      115              345            Normal              0    Adimplente
115      116              346            Normal              0    Adimplente
116      117             1825            Normal              0    Adimplente

    valorcredito    perda       sexo  idade  renda  numfilhos  estadocivil  \
0        3520,00     0,00  masculino     38      2          0            0
1        1046,85   866,80   feminino     22      2          1            1
2        4550,00     0,00  masculino     29      3          0            1
3        2625,00  2100,00   feminino     21      3          1            0
4        1200,00     0,00   feminino     22      1          0            1
..           ...      ...        ...    ...    ...        ...          ...
112      3599,00     0,00   feminino     21      2          0            0
113      4800,00     0,00   feminino     21      3          0            0
114      2750,00     0,00  masculino     27      3          0            1
115      2105,00     0,00   feminino     31      1          3            0
116      3150,00     0,00  masculino     22      1          1            0

    regiao  possuiresidencia gastoscartao
0        C                 0      1184,05
1        A                 0      1472,26
2        B                 1      1855,63
3        D                 0      3052,43
4        C                 1      3603,92
..     ...               ...          ...
112      C                 0       307,29
113      B                 1      1138,49
114      D                 1       639,46
115      A                 0      2903,77
116      D                 0      3490,99

[117 rows x 15 columns]

In [ ]:
print(df[["codigoconcessao", "perda", "valorcredito"]]) # Imprimindo três colunas

     codigoconcessao    perda valorcredito
0               7616     0,00      3520,00
1                281   866,80      1046,85
2                282     0,00      4550,00
3               7889  2100,00      2625,00
4                283     0,00      1200,00
..               ...      ...          ...
112             1967     0,00      3599,00
113              344     0,00      4800,00
114              345     0,00      2750,00
115              346     0,00      2105,00
116             1825     0,00      3150,00

[117 rows x 3 columns]

In [11]:
print("Ordenando por perda decrescente")
print(df[["cliente", "perda", "valorcredito"]].sort_values(by = "perda", ascending=False))

Ordenando por perda decrescente
     cliente   perda valorcredito
29        30  5520.0      6900,00
40        41  4941.0      5490,00
63        64  4160.0      5200,00
71        72  3880.0      4850,00
99       100  3760.0      4700,00
..       ...     ...          ...
112      113     0.0      3599,00
113      114     0.0      4800,00
114      115     0.0      2750,00
115      116     0.0      2105,00
116      117     0.0      3150,00

[117 rows x 3 columns]

In [10]:
df['perda'] = df['perda'].str.replace(',', '.') # Alterando tipo de coluna str para float
df['perda'] = df['perda'].astype(float)